/* Base styles (common for both themes) */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    color: var(--text);
    background-color: var(--background);
}

/* Navigation bar styles */
nav {
    background-color: var(--secondary);
    color: var(--text);
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.main-content {
    padding: 0 20px;
}

nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: var(--accent);
}

/* Button styles */
button {
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--accent);
}

/* Theme Variables */
:root[data-theme="light"] {
    --text: #333333;
    --background: #F0F0F0;
    --primary: #62efef;
    --secondary: #b1b1f7;
    --accent: #15c6c6;
}

:root[data-theme="dark"] {
    --text: #E0E0E0;
    --background: #121212;
    --primary: #3b5620;
    --secondary: #10102d;
    --accent: #753fab;
}

/* Theme Switch Wrapper */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    /* Align center vertically with nav */
}

/* The switch - the box around the slider */
.theme-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    /* Reduced from 60px */
    height: 27px;
    /* Reduced from 34px */
}

/* Hide default HTML checkbox */
.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 27px;
    /* Adjusted to new height */
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    /* Reduced from 26px */
    width: 21px;
    /* Reduced from 26px */
    left: 3px;
    /* Adjusted for new size */
    bottom: 3px;
    /* Adjusted for new size */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(22px);
    /* Adjusted for new width */
}